<div style="text-align: center;">
    <h2>Welcome to The Globe In My BucketList Application (TGIMBA)</h2>
</div>
<div style="text-align: center;">
    <h5>Coming soon...go <a href="https://github.com/ehelin/TgimbaNetCoreCloudNative">here</a> for details.</h5>
</div> 